*~
*#
#*
__pycache__/
.ipynb_checkpoints/
sandbox/
experiments/
processed_data/
logs/
ray_tmp/
videos/
video/
nohup*
dataset_info/
test_info/
tmp/
processed_dataset/
raw_dataset/
core*
nodelist.$
*.out
*.err
raw_dataset.pkl
